<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>

    <link   rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Список продуктофф:</h1>
    <table th:if="${frontProducts.size() > 0}" class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Наименование</td>
            <td>Цена</td>
            <td>Действия...</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="b : ${frontProducts}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.title}"></td>
            <td th:text="${'C: ' + b.size}"></td>
            <td><a class="btn btn-danger" th:href="@{'/products/remove/' + ${b.id}}">Удалить (-)</a></td>
        </tr>
        </tbody>
    </table>
    <span th:unless="${frontProduct.size() > 0}">нет продуктов</span>
    <span th:text="'Количество продуктов: ' + ${frontProducts.size()}"/>

    <form th:action="@{'/products/add'}" method="post">
        <!-- GET http://localhost:8189/app/productses/add?id=101&title=new&cost=111 -->
        <label>id</label>   <input type="number" name="id">
        <label>title</label><input type="text" name="title">
        <label>cost</label> <input type="cost" name="cost">

        <button class="btn btn-primary" type="submit">Создать (new)</button>
    </form>
</div>
</body>
</html>